.idea
data/Sinhala_Dataset
data/Tamil_Dataset
data/Sinhala_Datset.zip
data/Tamil_Dataset.zip
/wave2vec/0b4390a20d080109b5bffb68cbfed07770f338d31801f7c603ef0e8464664df3..wav
/wave2vec/1f36395110e6c6d88c97c1f2fff6929e987cec431e57dd7be9ffd8b3d1700a5c..wav
/wave2vec/292c5b67b71dcf391d778fe585b051bdad0add665050499504b7c10549ed340f..wav
/wave2vec/audio1520623611766_1_1.wav
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_0/checkpoint
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_1/checkpoint
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_2/checkpoint
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_3/checkpoint
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_4/checkpoint
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_0/checkpoint
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_1/checkpoint
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_2/checkpoint
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_3/checkpoint
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_4/checkpoint
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_0/checkpoint.data-00000-of-00001
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_1/checkpoint.data-00000-of-00001
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_2/checkpoint.data-00000-of-00001
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_3/checkpoint.data-00000-of-00001
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_4/checkpoint.data-00000-of-00001
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_0/checkpoint.data-00000-of-00001
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_1/checkpoint.data-00000-of-00001
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_2/checkpoint.data-00000-of-00001
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_3/checkpoint.data-00000-of-00001
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_4/checkpoint.data-00000-of-00001
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_0/checkpoint.index
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_1/checkpoint.index
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_2/checkpoint.index
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_3/checkpoint.index
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/checkpoints/epoch_4/checkpoint.index
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_0/checkpoint.index
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_1/checkpoint.index
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_2/checkpoint.index
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_3/checkpoint.index
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/checkpoints/epoch_4/checkpoint.index
/Untitled Folder/image_classifier/graph
/Untitled Folder/structured_data_classifier/graph
/DeepSpeech2/models/librispeech_pretrained.pth
/Untitled Folder/image_classifier/oracle.json
/Untitled Folder/structured_data_classifier/oracle.json
/Untitled Folder/image_classifier/trial_c1e5d22ebdbd32b2acfc99f17168cd41/pipeline
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/pipeline
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/pipeline
/Phoneme_ASR/.ipynb_checkpoints/test-checkpoint.ipynb
/wave2vec/.ipynb_checkpoints/test-checkpoint.ipynb
/Untitled Folder/image_classifier/trial_c1e5d22ebdbd32b2acfc99f17168cd41/trial.json
/Untitled Folder/image_classifier/trial_f48dc434445963aad87a0004bf1d56ee/trial.json
/Untitled Folder/structured_data_classifier/trial_5a78fef1955cfbba67d466d54d446dab/trial.json
/Untitled Folder/image_classifier/tuner0.json
/Untitled Folder/structured_data_classifier/tuner0.json
/Untitled Folder/Untitled.ipynb
/Untitled Folder/Untitled1.ipynb
/Untitled Folder/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
/Untitled Folder/Untitled2.ipynb
/Untitled Folder/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
/Phoneme_ASR/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/Untitled Folder/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/wave2vec/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/wave2vec/.ipynb_checkpoints/wav2vec-checkpoint.ipynb
/models/wav2vec_large.pt
